{
	"printWidth": 80,
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "always",
	"singleAttributePerLine": true,
	"bracketSameLine": false
}
